<%= form_for(@ticket) do |f| %>
  <% if @ticket.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ticket.errors.count, "error") %> prohibited this ticket from being saved:</h2>

      <ul>
      <% @ticket.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :location_id %><br>
    <%= f.collection_select(:location_id, Location.order('LOWER(area)'), :id, :area, {prompt: "Select a location"}, {class: "form-control"}) %>
  </div>
  <div class="field">
    <%= f.label :section %><br>
    <%= f.number_field :section, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :row %><br>
    <%= f.number_field :row, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :seat %><br>
    <%= f.number_field :seat, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label "Number Available" %><br>
    <%= f.number_field :number, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :link %><br>
    <%= f.text_field :link, class: "form-control" %>
  </div>
  <br />
  <div class="field">
    <%= f.label :local do %>
      <%= f.check_box :local %>
      Local?
    <% end %>
  </div>  
  <div class="field">
    <%= f.label :asking %><br>
    <%= f.text_field :asking, class: "form-control" %>
  </div>
  <br />
  <div class="field">
    <%= f.label :sold do %>
      <%= f.check_box :sold %>
      Sold?
    <% end %>
  </div>    
  <br />
  <div class="actions">
    <%= f.submit "Submit", class: "btn btn-primary" %>
  </div>
<% end %>
